@import "utils","variable";
@include html-font-size();
p.intro {
  font-size: convertPxFormUI(64px);
}

p.another-intro {
  font-size: convertPxFormUI(60px);
  height: convertPxFormUI(100px);
  margin: convertPxFormUI(32px);
}
.title {
  padding: 12px 0;
  width: 100%;
  margin: 0 0 25px 0;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  background: #3ea2ee;
}
.box{
  display: flex;
  justify-content: space-around;
}
.menu{
  width: 20%;
  background: #d7d7d7;
}
.content{
  width: 70%;
}
.menu_title{
  padding: 0.5rem;
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
}
ul{
  list-style: none;
  padding: 0;
}
.child_title{
  font-size: 12px;
  line-height: 30px;
  color: black;
  background: white;
}
.child_title:hover {
  color: #baabff;
}
.menu_title:hover{
  color: #baabff;
}
//所有元素的输入框
.input_box{
  //border: 1px solid black;
  //width: 50%;
  //margin: auto;
}
.input_box>div{
  margin: 20px 0;
}
.input_box>div>span{
  width: 80px;
  font-size: 18px;
}
.input_box>div>input{
  width: 300px;
  height: 30px;
  text-indent: 1em;
}
.introduce{
  color: #FF0000;
}
.btn{
  width: 100px;
}