body{
    /*background: url("../image/login_bg.png") no-repeat;*/
}
#box{
    width: 500px;
    height: 400px;
    margin: 15% auto 0;
    text-align: center;
}
#box h6{
     width: 90%;
     margin: 50px auto;
     font-size: 40px;
     /*color: #fff;*/
 }
#box input,span{
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}
input{
    height: 30px;
    padding-left: 10px;
}
span{
    background: #3366CC;
    height: 40px;
    margin-top: 30px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}