@charset "utf-8";
body{
    margin: 0;
    font-family: 黑体;
}
.nav{
    background: #fefefe;
}
.nav_tit{
    width: 1200px;
    margin: auto;
    display: flex;
    position: relative;
    height: 90px;
}
.nav_tit_left,.nav_tit_right{
    width: 50%;
}
.nav_tit_left>img{
    margin-top: 16px;
}
.nav_tit_right{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    color: #333333;
    font-size: 16px;
    line-height: 90px;

}

.nav_tit_right>li>ul{
    list-style: none;
    padding: 0 150px 0 43px;
    position: absolute;
    left: 60%;
    display: flex;
    background: #f0f0f0;
    color: #247668;
    font-size: 13px;
    width: 30%;
    line-height: 60px;
    height: 60px;
    visibility: hidden;
    z-index: 999;
}
.nav_tit_right>li>ul>li{
    margin: 0px 10px;
}
.nav_tit_right>li:hover ul{
    visibility: visible;
}

/*底部导航*/
.nav_bottom{
    padding-top: 50px;
    width: 100%;
    background: url("../img/dibu.jpg") no-repeat;
    background-size: 100%;
}
.nav_bottom_tit{
    width: 1200px;
    margin: auto;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}
.nav_bottom_tit_left{
    display: flex;
}
.nav_bottom_tit_left>div{
    width: 100px;

}
.a{
    color: #dadada;
    font-size: 12px;
}
.nav_bottom_tit_left{
    width: 60%;
}
.ewm{
    margin-top: 10px;
    float: right;
}
/*二级导航*/
.nav_2_bg{
    width: 100%;
    height: 160px;
    background: url("../img/c1.jpg") no-repeat;
    background-size: 100% 100%;
}
.nav_2_tit{
    height: 76px;
    background: #e1e1e1;
    font-size: 13px;
    line-height: 40px;
    color: #ffffff;
}