.box_1{
  line-height: 20px;
  margin-bottom: 20px;
}
.select{
  height: 100%;
  float: right;
  color: #3ea2ee;
  cursor: pointer;
}
.select_b,.select_box{
  display: none;
}
.select_box{
  margin: 20px 0;
}
.clear{
  clear: both;
}
